<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= post.title %></h1>
    <div style="gap: 3px">
      <span><%= post.writer %></span>
      <span><%= post.date %></span>
    </div>
    <p><%= post.content %></p>
    <div>
      <a href="/posts/<%= post.id %>/auth">수정하기</a>
      <a href="/posts/<%= post.id %>" id="deleteBtn">삭제하기</a>
    </div>

    <script>
      const deleteBtn = document.getElementById('deleteBtn');

      deleteBtn.addEventListener('click', async (e) => {
        e.preventDefault();
        const endPoint = deleteBtn.href;
        try {
          const response = await fetch(endPoint, { method: 'delete' });
          if (!response.ok) {
            const json = await response.json();
            return alert(json.message);
          }

          window.location.href = '/posts';
        } catch (e) {
          console.error(e);
        }
      });
    </script>
  </body>
</html>
