<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= post.title %></h1>
    <div style="gap: 3px">
      <span><%= post.writer %></span>
      <span><%= post.date %></span>
    </div>
    <p><%= post.content %></p>
    <div>
      <a href="/posts/<%= post.id %>/auth?action=put">수정하기</a>
      <a href="/posts/<%= post.id %>/auth?action=delete">삭제하기</a>
    </div>

    <script type="module">
      // const deleteBtn = document.getElementById('deleteBtn');

      // deleteBtn.addEventListener('click', (e) => {
      //   e.preventDefault();
      //   const id = deleteBtn.dataset.postId;
      //   fetchDelete(id);
      // });

      // async function fetchDelete(id) {
      //   try {
      //     const response = await fetch(`/posts/${id}`, { method: 'delete' });
      //     if (!response.ok) {
      //       const json = await response.json();
      //       return alert(json.message);
      //     }

      //     window.location.href = '/posts';
      //   } catch (e) {
      //     alert('error ouccred');
      //     console.error(e);
      //   }
      // }
    </script>
  </body>
</html>
